@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --green-light: #00bf72;
  --green-dark: #57cc99;
  --white: #fff;
  --black: rgba(0, 0, 0, 0.8);
  --black-light: rgba(0, 0, 0, 0.6);
  --light-bg: rgba(218, 215, 205, 0.15);
  --box-shadow-one: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.1);
  --box-shadow-two: -0.5rem 0 1rem rgba(0, 0, 0, 0.1);
}

* {
  font-family: "poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  transition: 0.2s linear;
}

//========= LES MIXINS ===========

//model grid
@mixin grid($val) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
  gap: 1.5rem;
}
//model title
@mixin titleText($titleSize) {
  font-size: $titleSize;
  color: var(--black);
  text-transform: capitalize;
}

//model paragraphe
@mixin graphText($titleSize) {
  font-size: $titleSize;
  color: var(--black-light);
  line-height: 2;
}

@mixin icon($iconsize){
    font-size: $iconsize;
    color: var(--white);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}

//button
.btn{
  display: inline-block;
  padding: 1rem 3rem;
  background: var(--green-light);
  color: var(--white);
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: .5rem;
  text-transform: uppercase;
  // transition: .2s linear;

  &:hover{
    background: var(--white);
    color:var(--green-light);
    border: solid 2px var(--green-light);
  }
}


/* ======== HEADER ===========*/

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: var(--white);

  .contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 4rem;
    padding: 0 10.5rem;
    background: linear-gradient(
      90deg,rgba(0, 193, 117, 1) 0%,rgba(0, 193, 117, 1) 47%,rgba(2, 183, 194, 1) 100%
    );

    .contact-phone{
        display: flex;
        gap: 1rem;
        
        .text{
            @include titleText(1.4rem);
            color: var(--white);
            font-weight: 700;
        }
        .icon{
            @include icon(2rem);
        }
    }

    .contact-share{
        display: flex;
        gap: 1.5rem;
        justify-content: space-between;
        align-items: center;

        .icon{
          @include icon(2rem);
        }

        .text-share{
          @include titleText(1.4rem);
          color: var(--white);
          font-weight: 700;
          margin-right: 1rem;
        }

    }
  }

  .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 8.7rem;
    padding: 0 10.5rem;

    .logo {
      display: flex;
      justify-content: center;
      align-items: center;

      .img{
      width: 7.9rem;
      height:4.5rem;
      object-fit: contain;
      margin-left: -2rem;
      }

      .text-logo{
        @include titleText(2.6rem);
        color:var(--black);
        font-weight: bold;
        margin-left: -1rem;
      }

    }

    .nav{
      display: flex;
      gap: 1rem;
      justify-content: space-between;
      align-items: center;

      .lien{
        font-size: 1.4rem;
        font-weight: 700;
        color: var(--black);
        padding: 0 2rem;
        text-transform: uppercase;

        &:hover{
          color:var(--green-dark)
        }
      }
    }

  }
}

.home{
  padding: 0;

  .banniere{
    min-height: 65rem;
    display: flex;
    align-items: center;
    position: relative;
    // background: url(img/banniere.png) no-repeat;
    background-size: cover !important;
    background-position: center !important;

    
    .content{
      display: flex;
      gap: 1.5rem;
      flex-direction: column;
      width: 50rem;
      height: 30rem;
      background: rgba(61,90,128,.7);
      padding: 3rem;
      margin-left: 10.5rem;

      h3{
        @include titleText(4rem);
        line-height: 1.3;
        color: var(--white);
      }

      p{
        @include graphText(1.4rem);
        color: var(--white);
        line-height: 1.6;
        font-weight: 100;
      }

      .btn{
        width: 14rem;
      }
    }
  }

// .swiper-button-next,
//   .swiper-button-prev {
//     top: initial;
//     bottom: 0;
//     left: initial;
//     right: 0;
//     height: 7rem;
//     width: 7rem;
//     line-height: 7rem;
//     background: var(--white);

//     &:hover {
//       background: var(--yellow);
//     }
//   }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    // font-size: 3rem;
    color: rgba(255,255,255,0.3)
  }
  // .swiper-button-prev {
  //   right: 7rem;
  // }

}
